/*
 *= require application.tailwind
 */

 @font-face {
    font-family: CalSans;
    font-style: semibold;
    font-weight: 800;
    font-display: swap;
    src: asset-url("/fonts/CalSans-SemiBold.woff2") format("woff2");
 }